body {
	width: 80%;
	margin: 0 auto;
}

#title {
	margin: 0 auto;
	text-align: center;
}

#pets-container {
	width: 100%;
	margin: 50px auto;
}

#pets-container > div {
	margin: 20px;
	padding: 10px;
	display: inline-block;
	width: 200px;
	background-color: #eee;
	border-radius: 10px;
}

#pets-container img {
	height: 150px;
	width: 150px;
}

#filter * {
	font-size: 20px;
}

#filter > label {
	display: block;
	margin: 10px auto;
}

.info {
	overflow-y: scroll;
	overflow-x: scroll;
	white-space: nowrap;
	height: 200px;
}