body {
	width: 80%;
	margin: 0 auto;
}

#title {
	margin: 0 auto;
	text-align: center;
}

#shelters-table {
	width: 80%;
	margin: 50px auto;
}

table {
	margin: 20px;
}

th, td {
	padding: 3px;
	border: 1px solid black;
}

.submitButton {
	width: 100px;
	height: 60px;
	font-size: 20px;
	margin: 20px;
}

#filter {
	width: 50%;
	margin: 0 auto;
	padding: 30px;
	border: 3px solid black;
}

filter * {
	font-size: 20px;
}

label {
	display: block;
	margin: 10px auto;

	
}