body {
	width: 80%;
	margin: 0 auto;
}

#title {
	margin: 0 auto;
	text-align: center;
}

#pets-container {
	width: 100%;
	margin: 50px;
	margin: 0 auto;
}

#pets-container > div {
	margin: 20px;
	padding: 10px;
	display: inline-block;

	height: 400px;
	width: 250px;

	border-radius: 10px;
	background-color: #eee;

	overflow-x: scroll;
	overflow-y: scroll;
	white-space: nowrap;
}

#pets-container img {
	height: 150px;
	width: 150px;
}

label {
	display: block;
	margin: 10px auto;
	font-size: 20px;
}