body {
	width: 80%;
	margin: 0 auto;
}

#title {
	margin: 0 auto;
	text-align: center;
}

#pets-container {
	width: 80%;
	margin: 50px;
	margin: 0 auto;
}

#pets-container > div {
	margin: 20px;
	display: inline-block;
	width: 180px;
}

#pets-container img {
	height: 150px;
	width: 150px;
}